{{define "footer"}}
<footer class="page-footer">
    <div class="footer-div">
      <div class="footer-sns">
        <ul class="footer-sns-ul">
          <li><a href="https://www.facebook.com/taewon.lee.144"><i class="fab fa-facebook"></i></a></li>
          <li><a href="https://www.instagram.com/elixter1/"><i class="fab fa-instagram"></i></a></li>
          <li><a href="https://github.com/elixter"><i class="fab fa-github"></i></a></li>
          <div class="navbar-underbar"></div>
        </ul>
      </div>
      <div class="etc">
        <div class="etc-text">
          <span>TW's personel project</span>
          <span>집에가고싶어요</span>
        </div>
      </div>
    </div>
</footer>
{{end}}