<!DOCTYPE html>
<html>
<head>
	{{template "meta"}}
	<link rel="stylesheet" href="/css/login.css">
</head>
<body>
	<!-- Start navbar -->
	{{template "header" .Admin}}
	<!-- End navbar -->
	<!-- Start main -->
	<main>
		<div class="content">
			<div class="content-div">
				<!-- post form -->
				<div class="login-form-div">
					<h2>Login</h2>
					{{if .Failed}}
						<span style="color:red;">Invaild password or id.</span>
					{{else}}
						<span></span>
					{{end}}
					<form name="login" method="post">
						<label for="form-id">Account</label>
						<input class="form-id" type="text" name="userId">
						<label for="form-pw">Password</label>
						<input class="form-pw" type="password" name="userPw">
						<input class="action-btn" type="submit" value="Login" onclick="login('{{.Url}}')">
					</form>
				</div>
				<!-- End Post form -->
			</div>
		</div>
	</main>
	<!-- End main -->
	{{template "footer"}}
</body>
</html>