<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="https://fonts.googleapis.com/css2?family=Sunflower:wght@300&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/css/notfound.css">
</head>
<body>
  <main class="not-found-main">
      <div class="not-found-div">
		  <h2>
			  페이지를 찾을 수 없습니다.
		  </h2>
		  <h1>
			  404
		  </h1>
		  <p>
			  We can't find the page
		  </p>
		  <a href="/">Go back home</a>
	  </div>
  </main>
</body>
</html>