.login-form-div {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 400px;
    background-color: black;
    align-content: center;
    margin: auto;
    text-align: center;
    padding: 100px 0 100px 0;
}

.login-form-div h2 {
    color: #DEDEDE;
    font-size: 1.6em;
    margin-top: 60px;
}

.login-form-div form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.login-form-div form label {
    color: #C2C2C2;
    margin-bottom: 5px;
}

.login-form-div form .form-id {
    width: 250px;
    height: 30px;
    padding-left: 15px;
    transition: .5s ease-in-out;
    margin-bottom: 20px;
    border-radius: 20px;
    border: #0390fc solid 2px;
}

.login-form-div form .form-id::placeholder {
    margin-left: 20px;
}

.login-form-div form .form-id:focus {
    width: 320px;
}

.login-form-div form .form-pw {
    width: 250px;
    height: 30px;
    padding-left: 15px;
    transition: .5s ease-in-out;
    margin-bottom: 30px;
    border-radius: 20px;
    border: #0390fc solid 2px;
}

.login-form-div form .form-pw:focus {
    width: 320px;
}

.login-form-div form .action-btn {
    width: 100px;
    height: 30px;
    border-radius: 15px;
    border: #0390fc solid 2px;
    transition: .5s ease-in;
}

.login-form-div form .action-btn:hover {
    background-color: black;
    /*color: white;*/
}