<!DOCTYPE html>
<html lang="en">
<head>
  {{template "meta"}}
	<link rel="stylesheet" href="/css/post.css">
</head>
<body>
  <!-- Start navbar -->
  {{template "header" .Admin}}
  <!-- End navbar -->
  <!-- Start main -->
  <main>
    <div class="content">
      <div class="content-div">
        <!-- Post list -->
        <div class="content-main">
		{{with .Post}}
          <article class="post">
            <div class="article-inner">
              <!-- Entry header -->
              <header class="entry-header">
                <div class="entry-header-text">
                  <h2 class="entry-title">
                    <a>{{.Title}}</a>
                    <a class="post-category" href="/blog/search?category={{.Category}}">&nbsp;|&nbsp;{{.Category}}</a>
                  </h2>
                  <div class="entry-header-flexbox">
                    <div class="entry-infobox">
                      <h5>{{.Author}}
                        <span class="byline"><span class="sep">&nbsp;|&nbsp;
                        </span>{{.Updated.Format "2006.01.02"}}</span>
                      </h5>
                      <p class="author-describ">{{.UDesc}}</p>
                    </div>
                  </div>
                </div>
                <div class="thumbnail">
                  <img src="{{.Thumbnail}}">
                </div>
              </header>
              <!-- End Entry header-->
              <div class="entry-content">
                <div class="entry-summary"></div>
				<script type="text/javascript">
				 	 document.querySelector('.entry-summary').innerHTML = {{.Summary}}
				 </script>
                <div class="entry-main"></div>
				<script type="text/javascript">
				 	 document.querySelector('.entry-main').innerHTML = {{.Content}}
				 </script>
              </div>
              <footer class="entry-meta">
                <div class="tag-links">
                  {{range $index := .HashTags}}
                    {{if ne . ""}}
                      <span><a href="/blog/search?hash={{.}}">{{.}}</a></span>
                    {{end}}
                  {{end}}
                </div>
                <!-- 여기에 댓글 추가 -->
              </footer>
            </div>
          </article>
		
		{{end}}
			
		{{if eq .Admin 1}}
			<div>
				<input class="action-btn" type="button" value="수정" onclick="location.href='{{.EditUrl}}?id={{.Id}}'">
				<input class="action-btn" type="button" value="삭제" onclick="delete_confirm('{{.DeleteUrl}}?id={{.Id}}')">
			</div>	
		{{else}}
		{{end}}
        </div>
        <!-- End Post list -->
        <!-- Side -->
        {{template "side" .Categories}}
        <!-- End Side-->
      </div>
    </div>
    <script>
      const imgArr = document.querySelectorAll("img");

      for (let i = 0; i < imgArr.length; i++) {
        imgArr[i].style.maxWidth = imgArr[i].style.width;
        imgArr[i].style.maxHeight = imgArr[i].style.height;
        if (imgArr[i].width + 30 * 2 /*padding*/ > document.activeElement.clientWidth) {
          imgArr[i].style.width = "100%";
          imgArr[i].style.height = "auto";
        }
      }
    </script>
  </main>
  <!-- End main -->
  {{template "footer"}}
</body>
</html>
