<!DOCTYPE html>
<html lang="en">
<head>
  {{template "meta"}}
	<!--script src="https://cdn.ckeditor.com/ckeditor5/19.1.1/classic/ckeditor.js"></script-->
	<script src="/js/ckeditor/ckeditor.js"></script>
    <link href="/js/ckeditor/plugins/codesnippet/lib/highlight/styles/default.css" rel="stylesheet">
    <script src="/js/ckeditor/plugins/codesnippet/lib/highlight/highlight.pack.js"></script>
</head>
<body>
  <!-- Start navbar -->
  {{template "header" .Admin}}
  <!-- End navbar -->
  <!-- Start main -->
  {{$Categories := .Categories}}
  <main>
    <div class="content">
      <div class="content-div">
        <!-- post form -->
        <div class="post-form-div">
          <form class="post-form" name="newPost">
            <input class="form-title" type="text" name="title" placeholder="제목"/>
              <div class="post-hash-category">
                    <input class="form-hash-tag" type="text" name="hash" placeholder="#해쉬태그"/>
                  <select class="form-category" name="category">
                      {{range $Categories}}
                      <option value="{{.}}">{{.}}</option>
                      {{end}}
                  </select>
                  <!--input class="form-category" type="text" name="category" placeholder="카테고리"-->
              </div>
            <textarea id="form-content" class="form-content" type="text" name="content"></textarea>
            <input class="action-btn" type="button" value="저장" onclick="post_confirm('{{.Url}}?id={{.Id}}')">
    				<input class="action-btn" type="button" value="취소" onclick="cancel_confirm({{.CancelUrl}})">
          </form>
        </div>
      <!-- End Post form -->
      </div>
    </div>
  </main>
  <!-- End main -->
  {{template "footer"}}
	
	<!-- scripts -->
	<script>
        var config = {
          height: 500,
          filebrowserUploadUrl: '/blog/fileUpload',
          filebrowserUploadMethod: 'form',
          extraPlugins: 'codesnippet, imageresizerowandcolumn, image2',
          codeSnippet_theme: 'monokai_sublime',
          removePlugins: 'easyimage, image',
        };

		CKEDITOR.replace('form-content', config);


        {{$Modify := .Modify}}
		{{$EditPost := .EditPost}}
		{{if $Modify}}
		document.querySelector(".form-title").value = {{$EditPost.Title}};
		CKEDITOR.instances["form-content"].setData({{$EditPost.Content}});
		document.newPost.method = "put";
		{{end}}

        hljs.initHighlightingOnLoad();
	</script>
</body>
</html>
