<!DOCTYPE html>
<html lang="en">
<head>
  {{template "meta"}}
	<!--script src="https://cdn.ckeditor.com/ckeditor5/19.1.1/classic/ckeditor.js"></script-->
	<script src="https://cdn.ckeditor.com/4.14.1/standard/ckeditor.js"></script>
</head>
<body>
  <!-- Start navbar -->
  {{template "header"}}
  <!-- End navbar -->
  <!-- Start main -->
  <main>
    <div class="content">
      <div class="content-div">
        <!-- post form -->
        <div class="post-form-div">
          <form class="post-form" name="newPost">
            <input class="form-title" type="text" name="title" placeholder="제목">
            <textarea id="form-content" class="form-content" type="text" name="content"></textarea>
            <input class="action-btn" type="button" value="저장" onclick="post_confirm('{{.Url}}?id={{.Id}}')">
    				<input class="action-btn" type="button" value="취소" onclick="cancel_confirm()">
          </form>
        </div>
      <!-- End Post form -->
      </div>
    </div>
  </main>
  <!-- End main -->
  {{template "footer"}}
	
	<!-- scripts -->
	<script>
		CKEDITOR.replace('form-content', {
			height: 500
		}); 
		
		
		
		{{$Modify := .Modify}}
		{{$EditPost := .EditPost}}
		{{if $Modify}}
		document.querySelector(".form-title").value = {{$EditPost.Title}};
		CKEDITOR.instances["form-content"].setData({{$EditPost.Content}});
		document.newPost.method = "put";
		{{end}}
	</script>
</body>
</html>
